
h1 {
    text-shadow: 3px 3px 5px rgb(199, 20, 20), -2px -1px 3px rgb(11, 3, 3);
}

div{
   background-color: hsl(33, 71%, 56%);
   height: 100px ;
   width: 100px ;
   display: block;


}

span{
   background-color: hsl(350, 48%, 62%);
   height: 100px ;
   width: 100px ;
   display: block;


}