/*
@font-face {
  font-family :'My Font';
  src: url('fonts/MyFont.ttf') format('truetype');
}

p {
  font-family: 'MyFont', sans-serif;
}

div element that covers the entire area to be filled.
span element only covers the necessary area to be filled.

*/



body{
    background-color:black;
}
h1{
    color:rgb(58, 21, 93);
}
#p1{
 color:#7c0a0a;
}
#p2{
    color:hsl(96, 87%, 21%);
}
#p3{
    color:hwb(246 11% 44%);
}


